{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de Statut des Partenaires
{% endblock %}


{% block title %}StatutP index{% endblock %}

{% block body %}

{% include 'partials/flash.html.twig' %}

    <h5>Liste de statut de partenaire</h5>

<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">

        <thead>
            <tr>
                
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut_p in statut_ps %}
            <tr>
                
                <td>{{ statut_p.Statut }}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="{{ path('app_statut_p_show', {'id': statut_p.id}) }}">
                        <i class="bi bi-view-list" style="font-size: 1rem;"></i>
                    </a>
                   <a class="btn btn-outline-primary btn-sm" href="{{ path('app_statut_p_edit', {'id': statut_p.id}) }}">
        <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

     <div class="d-flex flex-row">
    <a class="btn btn-outline-info btn-sm" href="{{ path('app_personne') }}">
        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>
    <a class="btn btn-outline-primary btn-sm" href="{{ path('app_statut_p_new') }}">
        <i class="bi bi-plus-square" style="font-size: 1.2rem;"></i>
    </a>
    </div>
{% endblock %}
