{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion des Rendez-vous
{% endblock %}

{% block body %}

	{% include 'partials/flash.html.twig' %}

	<p>
		<a class="btn btn-outline-primary btn-sm" href="{{ path('rendezvous.create') }}">
			<i class="bi bi-plus-square" style="font-size: 1.5rem;"></i>
		</a>


	</p>
<!-- Begin Page Content -->


<!-- DataTales Example -->
	<div class="card shadow mb-4"> <div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Listes des rendez-vous</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr></tr>
				</thead>

				
				<th>Nom RDV</th>
				<th>Type RDV</th>
				<th>Date RDV</th>
				<th>Personne</th>
				<th>Statut RDV</th>
				<th>Lieu RDV</th>
				<th>Action</th>
			</tr><thead/>
		</thead>
		<tbody>
			{% for rendezvous in rendezvouss %}
				<tr>
					
                    <td>{{rendezvous.NomRdv()}}</td>
                    <td>{{rendezvous.TypeRdv()}}</td>                    
					<td>{{ rendezvous.DateRdv|date('Y-m-d H:i:s') }}</td>
					<td>{{rendezvous.Personne.nom()}}</td>
					<td>{{rendezvous.StatutRdv.statutrdv()}}</td>
					<td>{{rendezvous.Lieu()}}</td>					
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-outline-info btn-sm" href="{{ path('rendezvous.detail', {id: rendezvous.id}) }}">
								<i class="bi bi-view-list" style="font-size: 1.1rem;"></i>
							</a>

							<a class="btn btn-outline-primary btn-sm" href="{{ path('rendezvous.edit', {id: rendezvous.id}) }}">
								<i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
							</a>

							<a onclick="return confirm('Voulez-vous vraimeent supprimer ce rendez-vous : {{rendezvous.NomRdv()}}?')" class="btn btn-outline-danger btn-sm" href="{{ path('rendezvous.delete', {id: rendezvous.id}) }}">
								<i class="bi bi-trash3-fill" style="font-size: 1.1rem;"></i>
							</a>

						</div>

					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ knp_pagination_render(rendezvouss) }}

</div></div></div></div><!-- /.container-fluid --></div><!-- End of Main Content -->

{% endblock %}

