{% extends 'template.html.twig' %}
{%  block head %}


	<div
		class="row">

		<!-- Earnings (Monthly) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-primary shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
								Earnings (Monthly)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-calendar fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Earnings (Annual) Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-success shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-success text-uppercase mb-1">
								Earnings (Annual)</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Tasks Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-info shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-info text-uppercase mb-1">Tasks
							</div>
							<div class="row no-gutters align-items-center">
								<div class="col-auto">
									<div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
								</div>
								<div class="col">
									<div class="progress progress-sm mr-2">
										<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Pending Requests Card Example -->
		<div class="col-xl-3 col-md-6 mb-4">
			<div class="card border-left-warning shadow h-100 py-2">
				<div class="card-body">
					<div class="row no-gutters align-items-center">
						<div class="col mr-2">
							<div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
								Pending Requests</div>
							<div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
						</div>
						<div class="col-auto">
							<i class="fas fa-comments fa-2x text-gray-300"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row"></div>


{% endblock %}


{% block title %}Hello StrategieController!
{% endblock %}
{% block PageTitle %}
	Gestion de Projet
{% endblock %}


{% block body %}

	{% include 'partials/flash.html.twig' %}

	<p>
		<a class="btn btn-outline-primary btn-sm" href="{{ path('projet.create') }}">
			<i class="bi bi-plus-square" style="font-size: 1.5rem;"></i>
		</a>


	</p>
<!-- Begin Page Content -->


<!-- DataTales Example -->
	<div class="card shadow mb-4"> <div class="card-header py-3">
	<div class="d-flex flex-row float-left" >
		<h6 class="m-0 font-weight-bold text-primary">Listes des projets</h6>
	</div>
<!-- Topbar Search -->
<div class="d-flex flex-row float-right">

	<form data-turbo="false" method="POST" action="{{ path('app_search_projet') }}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
		<div class="input-group">
			<input name="word" type="text" class="form-control bg border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button">
					<i class="fas fa-search fa-sm"></i>
				</button>
			</div>
		</div>
	</form>


</div>
	</div>


	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr></tr>
				</thead>

				
				<th>Nom</th>
				<th>Statut</th>
				<th>Description</th>
				<th>Action</th>
			</tr><thead/>
		</thead>
		<tbody>
			{% for projet in projets %}


				<tr>

					
					<td>
						<a style=" text-decoration:none; color:blue; " href="{{ path('projet.detail', {id: projet.id}) }}">
							<strong>{{projet.NomProjet()}}</strong>
						</a>
					</td>					</td>
					<td class="text-warning">{{projet.StatutProjet.statutp()}}</td>
					<td>{{projet.DescriptionProjet()}}</td>
					<td>
						<div class="d-flex gap-1">
							<a class="btn btn-outline-info btn-sm" href="{{ path('projet.detail', {id: projet.id}) }}">


								<i class="bi bi-view-list" style="font-size: 1.1rem;"></i>
							</a>

							<a class="btn btn-outline-primary btn-sm" href="{{ path('projet.edit', {id: projet.id}) }}">


								<i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
							</a>

							<a onclick="return confirm('Voulez-vous vraimeent supprimer le projet : {{projet.NomProjet()}}?')" class="btn btn-outline-danger btn-sm" href="{{ path('projet.delete', {id: projet.id}) }}">
								<i class="bi bi-trash3-fill" style="font-size: 1.1rem;"></i>
							</a>

						</div>

					</td>
				</tr>

			</tbody>
		{% endfor %}


	</table>
{{ knp_pagination_render(projets) }}

</div></div></div></div><!-- /.container-fluid --></div><!-- End of Main Content -->

{% if is_granted('ROLE_ADMIN') %}

<!-- Begin Page Content -->
<div
	class="container-fluid">

	<!-- Page Heading -->
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-800">Gestion de Configuration du Visteur</h1>
	</div>

	<div class="row">


		<div class="row">

			<div
				class="col-lg-6">


				<!-- Basic Card Example -->
				<div
					class="card shadow mb-4">
					<!-- Card Header - Accordion -->
					<a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseCardExample">
						<h6 class="m-0 font-weight-bold text-primary ">Gestion du Statut de Projet</h6>
					</a>
					<!-- Card Content - Collapse -->
					<div class="collapse show" id="collapseCardExample">
						<div class="card-body">
							<p>Si vous souhaitez gérer le statut de projet avec l'entreprise vous être au bon endroit.
																						Vous avez la possibilité d'ajouter, modifier, supprimer ou même voir les détails de statut du projet déjà existants.
																						pour se faire je vous invite à cliquez sur le boutton.
							</p>
							<a class="btn btn-outline-info btn-sm" href="{{ path('app_statut_projet_index') }}">Gérez le Statut de Projet</a>
						</div>
					</div>
				</div>

			</div>
		</div>

{% endif %}
{% endblock %}

