{% extends 'template.html.twig' %}

{% block PageTitle %}
	Gestion de Nature des Visiteurs
{% endblock %}


{% block title %}NatureVisite index{% endblock %}

{% block body %}
{% include 'partials/flash.html.twig' %}

<h5>Liste de Nature des Visiteurs</h5>

<table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">

        <thead>
            <tr>
                
                <th>Nature de visite</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nature_visite in nature_visites %}
            <tr>
                
                <td>{{ nature_visite.NatureV }}</td>
                <td>
                    <a class="btn btn-outline-info btn-sm" href="{{ path('app_nature_visite_show', {'id': nature_visite.id}) }}">
                        <i class="bi bi-view-list" style="font-size: 1rem;"></i>
                    </a>
                    <a class="btn btn-outline-primary btn-sm" href="{{ path('app_nature_visite_edit', {'id': nature_visite.id}) }}">
                        <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="d-flex flex-row">
	<a class="btn btn-outline-info btn-sm" href="{{ path('app_visite') }}">
		<i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
	</a>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('app_nature_visite_new') }}">
        <i class="bi bi-plus-square" style="font-size: 1.2rem;"></i>
    </a>
</div>

{% endblock %}
