{% extends 'base.html.twig' %}

{% block title %}NatureVisite index{% endblock %}

{% block body %}
    <h1>NatureVisite index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nature_V</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for nature_visite in nature_visites %}
            <tr>
                <td>{{ nature_visite.id }}</td>
                <td>{{ nature_visite.NatureV }}</td>
                <td>
                    <a href="{{ path('app_nature_visite_show', {'id': nature_visite.id}) }}">show</a>
                    <a href="{{ path('app_nature_visite_edit', {'id': nature_visite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nature_visite_new') }}">Create new</a>
{% endblock %}
