{% extends 'template.html.twig' %}

{% block title %}RelationP{% endblock %}

{% block body %}
    <h1>RelationP</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ relation_p.id }}</td>
            </tr>
            <tr>
                <th>Type_P</th>
                <td>{{ relation_p.TypeP }}</td>
            </tr>
        </tbody>
    </table>
<div class="d-flex flex-row">
    <a class="btn btn-outline-info btn-sm" href="{{ path('app_relation_p_index') }}">
        <i class="bi bi-x-squarebi bi-x-square" style="font-size: 1.1rem;"></i>
    </a>

    <a class="btn btn-outline-primary btn-sm" href="{{ path('app_relation_p_edit', {'id': relation_p.id}) }}">
        <i class="bi bi-pencil-square" style="font-size: 1.1rem;"></i>
    </a>

    {{ include('relation_p/_delete_form.html.twig') }}
<div>

{% endblock %}
