{% extends 'template.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block PageTitle %}
	Gestion des Utilisateurs de Smac-Industries
{% endblock %}


{% block body %}
{% include 'partials/flash.html.twig' %}

<h5>Liste des Utilisateurs</h5>

<!-- DataTales Example -->
<div class="card shadow mb-4">
	<div class="card-header py-3">
		<h6 class="m-0 font-weight-bold text-primary">Listes des personnes</h6>
	</div>
	<div class="card-body">
		<div class="table-responsive">
			
			{{ form_start(form) }}
			{{ form_end(form) }}

</div></div></div></div><!-- /.container-fluid --></div><!-- End of Main Content -->


    {#{{ include('user/_form.html.twig', {'button_label': 'Update'}) }}#}

    <a href="{{ path('app_user_index') }}">back to list</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
